.header-container {
  height: 80px;
  background: green;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 180px;
  height: 60px;
  background: yellow;
  margin: 10px;
  img {
    width: 180px;
    height: 60px;
  }
}

.account, .cart, .position, .mode {
  display: flex;
  flex-direction: column;
}

.searchbar-container {
  display: flex;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  width: 350px;

}
.input-searchbar {
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 40px;
  width: 310px;
  padding-left: 10px;
}
.icon-search {
  margin: 0 auto;
}
