.header-container {
  height: 80px;
  background: green;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 180px;
  height: 60px;
  background: yellow;
  margin: 10px;
}
.logo img {
  width: 180px;
  height: 60px;
}

.account, .cart, .position, .mode {
  display: flex;
  flex-direction: column;
}

.searchbar-container {
  display: flex;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  width: 350px;
}

.input-searchbar {
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 40px;
  width: 310px;
  padding-left: 10px;
}

.icon-search {
  margin: 0 auto;
}

.footer-container {
  height: 60px;
  background: green;
  border: 1px solid white;
  text-align: center;
}

.view-container {
  flex: 1;
  padding: 20px;
  background-color: blue;
}

.form-container {
  width: 550px;
  margin: 50px auto;
  border: 1px solid white;
}

.formCreate {
  width: 400px;
  margin: 50px auto;
}
.formCreate .form-content {
  margin: 20px 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.formCreate .form-content input {
  width: 320px;
  height: 40px;
}
.formCreate .recover {
  text-align: center;
  margin: 30px 0;
}
.formCreate .recover input {
  padding: 3px;
  font-size: 12px;
}
.formCreate .submit {
  text-align: center;
  margin: 30px 0;
}
.formCreate .submit input {
  padding: 10px 20px;
  font-size: 18px;
}
.formCreate .createNew {
  text-align: center;
  margin: 30px 0;
}
.formCreate .createNew input {
  padding: 5px;
  font-size: 14px;
}

.products-container {
  margin: 20px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
}

.product-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
  background-color: white;
}
.product-content .product-infos {
  display: flex;
  flex-direction: column;
  width: 350px;
}
.product-content .product-infos .product-name {
  font-weight: 700;
  font-size: 18px;
}
.product-content .product-infos .product-info {
  font-weight: 600;
}
.product-content .product-img {
  width: 100px;
  height: 100px;
  background: white;
}
.product-content .product-description {
  color: black;
  padding: 0px 5px;
}
.product-content .low-quantity {
  color: red;
  font-weight: 600;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: "Indie Flower", system-ui;
  width: 100%;
}
.nav-container .nav-button {
  background: green;
  width: 25%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.nav-container .nav-button:hover {
  background: white;
  color: green;
}

.banner {
  background-color: white;
  background-color: #94c665;
  text-align: left;
  display: flex;
  align-items: center;
}
.banner .banner-img {
  height: 350px;
  width: 900px;
}
.banner .banner-text {
  font-family: "Indie Flower", system-ui;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  padding: 10px;
  font-size: 38px;
  font-weight: 600;
  background-color: white;
  color: black;
  background-image: url("../../../public/image_products/bgHeroSeed.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .banner-text span {
  margin: 10px;
  color: #7f3300;
  text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 10px rgb(255, 255, 255), 0px 0px 15px rgb(255, 255, 255), 0px 0px 20px rgb(73, 255, 24), 0px 0px 30px rgb(73, 255, 24), 0px 0px 40px rgb(73, 255, 24), 0px 0px 55px rgb(73, 255, 24), 0px 0px 75px rgb(73, 255, 24);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}/*# sourceMappingURL=App.css.map */