@import "../layout/Header/header", "../layout/Footer/footer",
  "../layout/views/view", "../styles/variables",
  "../../src/pages/FormCreateAccount/formCreateAccount", "../pages/Cart/cart", "../components/Product/product";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}
