@charset "UTF-8";
.background-light {
  background: whitesmoke;
  color: green;
}

.background-dark {
  background: rgb(92, 92, 92);
  color: white;
}

.border-light {
  border: 2px solid green;
}

.border-dark {
  border: 2px solid white;
}

.header-container {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.header-container .logo-icon {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container .logo-icon h1 {
  padding: 0;
  font-size: 28px;
  font-family: "Lilita One", system-ui;
}
.header-container .logo-icon .img-logo {
  width: 50px;
}

.account,
.cart,
.position,
.mode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar-container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 350px;
}

.input-searchbar {
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 40px;
  width: 310px;
  padding-left: 10px;
}

.icon-search {
  margin: 0 auto;
}

.icon {
  cursor: pointer;
  width: 40px;
}

.icon-log {
  cursor: pointer;
  width: 60px;
}

.footer {
  flex-shrink: 0;
  display: inline-flex;
}
.footer .footer-container {
  background: whitesmoke;
  color: green;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
  font-family: "Roboto", sans-serif;
}
.footer .footer-container .footer-upper {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  background-color: rgb(254, 220, 165);
}
.footer .footer-container .footer-upper .footer-upper-title {
  color: black;
  font-weight: 700;
}
.footer .footer-container .footer-bottom-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.footer .footer-container .footer-bottom-logo h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-family: "Lilita One", system-ui;
}
.footer .footer-container .footer-bottom-logo img {
  width: 98px;
}
.footer .footer-container .footer-bottom {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.footer .footer-container .footer-bottom .footer-bottom-title {
  color: black;
  font-weight: 700;
  text-align: left;
}
.footer .footer-container .footer-bottom .footer-bottom-link {
  text-align: left;
}
.footer .footer-container .footer-bottom .footer-bottom-link:hover {
  color: turquoise;
  cursor: pointer;
}
.footer .footer-container .footer-bottom .img-supplier {
  width: 100px;
}

.view-container {
  flex: 1;
  padding: 20px;
}

.form-container {
  width: 550px;
  margin: 50px auto;
  border: 1px solid white;
}

.formCreate {
  width: 400px;
  margin: 50px auto;
}
.formCreate .form-content {
  margin: 20px 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.formCreate .form-content input {
  width: 320px;
  height: 40px;
}
.formCreate .recover {
  text-align: center;
  margin: 30px 0;
}
.formCreate .recover input {
  padding: 3px;
  font-size: 12px;
}
.formCreate .submit {
  text-align: center;
  margin: 30px 0;
}
.formCreate .submit input {
  padding: 10px 20px;
  font-size: 18px;
}
.formCreate .createNew {
  text-align: center;
  margin: 30px 0;
}
.formCreate .createNew input {
  padding: 5px;
  font-size: 14px;
}

.products-container {
  margin: 20px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
}

.product-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
  background-color: white;
}
.product-content .product-infos {
  display: flex;
  flex-direction: column;
  width: 350px;
}
.product-content .product-infos .product-name {
  font-weight: 700;
  font-size: 18px;
}
.product-content .product-infos .product-info {
  font-weight: 600;
}
.product-content .product-img {
  width: 100px;
  height: 100px;
  background: white;
}
.product-content .product-description {
  color: black;
  padding: 0px 5px;
}
.product-content .low-quantity {
  color: red;
  font-weight: 600;
}

.banner {
  background: white;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 370px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 28px;
  font-family: "Lilita One", system-ui;
}
.banner .banner-text img {
  width: 150px;
}

#userName {
  padding: 10px 20px;
}

.account-action {
  margin: 10px;
}
.account-action .action {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px 0;
  border: 2px solid black;
}
.account-action .action div {
  margin: 0 10px;
}
.account-action .action-account {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  background: white;
  color: black;
}
.account-action .modify {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  background: white;
  color: black;
}

.margin-with-footer {
  margin-bottom: 90px;
}

.dropdown-container {
  width: 700px;
}
.dropdown-container .dropdown-section {
  display: flex;
  justify-content: space-between;
  width: 620px;
  border: 3px solid black;
  padding: 15px;
  margin: 0 auto;
  color: black;
  background: white;
  font-size: 24px;
  font-weight: 700;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: 1s background linear;
}
.dropdown-container .dropdown-section .icon-dropdown {
  cursor: pointer;
}
.dropdown-container .dropdown-section:hover {
  background: rgb(214, 212, 78);
}
@keyframes dropdown-open {
  from {
    height: 0;
  }
  to {
    height: 320px;
  }
}
@keyframes dropdown-close {
  from {
    height: 320px;
  }
  to {
    height: 0;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.dropdown-menu-close {
  animation: 0.2s linear dropdown-close;
  width: 600px;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0px 10px;
  margin: 0 auto;
  background: white;
  overflow: hidden; /* Important pour cacher l'élément quand il est fermé */
  height: 0; /* Commence par 0 lors de la fermeture */
}

.dropdown-menu {
  width: 600px;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 15px 10px;
  margin: 0 auto;
  background: white;
  overflow: hidden; /* Important pour cacher l'élément quand il est fermé */
  animation: 0.3s linear dropdown-open;
  height: 390px; /* Hauteur cible lors de l'ouverture */
}
.dropdown-menu .orders-infos-container {
  color: black;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.dropdown-menu .orders-infos-container .product-container {
  color: black;
}
.dropdown-menu .orders-infos-container .product-container .product-show {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.dropdown-menu .orders-infos-container .product-container .product-show .product-info {
  width: 25%;
  margin: 5px 15px;
}
.dropdown-menu .orders-infos-container .orders-infos {
  display: flex;
  justify-content: space-around;
}
.dropdown-menu .orders-infos-container .rows-container {
  padding: 5px;
  margin: 5px;
  width: 330px;
}
.dropdown-menu .orders-infos-container .rows-container .dropdown-row-container {
  display: flex;
  margin: 5px;
}
.dropdown-menu .orders-infos-container .rows-container .dropdown-row-container .row-label {
  width: 220px;
  border: 1px solid black;
  margin-right: 10px;
  padding-left: 10px;
  font-weight: 600;
}
.dropdown-menu .orders-infos-container .rows-container .dropdown-row-container .row-output {
  width: 170px;
  border: 1px solid black;
  margin-right: 10px;
  padding-left: 10px;
  font-weight: 600;
}
.dropdown-menu .orders-infos-container .shipment-infos {
  margin: 5px;
  padding: 10px;
}
.dropdown-menu .orders-infos-container .shipment-infos .row-label {
  width: 170px;
  border: 1px solid black;
  margin-right: 10px;
  padding-left: 10px;
  font-weight: 600;
}
.dropdown-menu .orders-infos-container .shipment-infos .row-output {
  width: 170px;
  border: 1px solid black;
  margin-right: 10px;
  padding-left: 10px;
  font-weight: 600;
}

.scroller {
  overflow-y: scroll;
  scrollbar-color: green;
  scrollbar-width: thin;
}

.validation {
  width: 350px;
  padding: 10px;
  margin: 10px 22.5px;
  color: black;
  background: white;
  border: 1px solid black;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lilita One", system-ui;
  width: 100%;
  background-color: whitesmoke;
}

.location-store-container {
  display: flex;
  justify-content: space-around;
}

.location-store-infos {
  width: 600px;
  height: 300px;
  padding: 20px;
}

.location-store-whereabout {
  display: flex;
  width: 800px;
  justify-content: space-between;
  padding: 20px;
}
.location-store-whereabout .days-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.form-contact {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 10px;
  margin: 10px;
  background-color: green;
  border-radius: 5px;
}
.form-contact .form-contact-input {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.form-contact .form-contact-input input {
  width: 200px;
  height: 30px;
}
.form-contact textarea {
  resize: none;
  width: 200px;
  height: 160px;
}
.form-contact .button-valid-form {
  height: 40px;
  margin: 0 auto;
  border: 1px solid white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropdown-row-close {
  opacity: 0; /* Ajoute une animation d'opacité pour une disparition plus douce */
  transition: opacity 0.3s ease;
}

.dropdown-row {
  width: 550px;
  color: black;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  animation: 1s linear appear;
  opacity: 1; /* Pour l'apparition initiale */
}
.dropdown-row .dropdown-row-label {
  display: inline-block;
  border: 1px solid black;
  margin-right: 20px;
  padding-left: 10px;
}
.dropdown-row .label {
  display: inline-block;
  width: 120px;
  border: 1px solid black;
  margin-right: 20px;
  padding-left: 10px;
  font-weight: 600;
}
.dropdown-row .output {
  display: inline-block;
  width: 350px;
  border: 1px solid black;
  padding-left: 10px;
  margin-right: 20px;
}
.dropdown-row .input {
  height: 41.6px;
  display: inline-block;
  width: 350px;
  border: 1px solid black;
  padding-left: 10px;
  margin-right: 20px;
  border: 3px solid green;
  background-color: rgb(193, 237, 193);
}
.dropdown-row .pencil {
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}
.dropdown-row .pencil:hover {
  border: 1px solid black;
  background-color: green;
  color: white;
}
.dropdown-row .closeModify {
  border: 1px solid black;
  padding: 10px 12.5px;
  cursor: pointer;
}
.dropdown-row .closeModify:hover {
  border: 1px solid black;
  background-color: red;
  color: white;
}

.banner-container-beforeClick {
  margin: 5px auto;
}
.banner-container-beforeClick .banner-text-container-beforeClick {
  width: 300px;
  padding: 0px 10px;
  border: 2px solid white;
  background-color: green;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-container-beforeClick .banner-text-container-beforeClick .banner-text {
  font-size: 30px;
  font-weight: 700;
}
.banner-container-beforeClick .banner-text-container-beforeClick .icon-dropdown {
  cursor: pointer;
  margin-right: 50px;
}

.banner-container {
  display: flex;
  margin-bottom: 15px;
  position: relative;
}
.banner-container .banner-icon {
  width: 400px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-container .banner-icon .icon {
  width: 100px;
  height: 130px;
  background-color: blue;
}
.banner-container .bannerBg {
  width: 400px;
  height: 200px;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-container .bannerBg .banner-text-container {
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 10px;
  border: 2px solid white;
  background-color: green;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-container .bannerBg .banner-text-container .banner-text {
  font-size: 30px;
  font-weight: 700;
}
.banner-container .bannerBg .banner-text-container .icon-dropdown {
  cursor: pointer;
  margin-right: 50px;
}
.banner-container .banner-description-wrapper {
  width: 800px;
  height: 350px;
  margin: 0 10px;
  background-color: green;
}
.banner-container .banner-description-wrapper .intro {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}

.nav-button {
  color: green;
  width: 16.7%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.nav-button:hover {
  cursor: pointer;
}
.nav-button:hover .text {
  color: #FFFFFF;
  background: #099D30;
  text-shadow: 0 0 10px #FFFFFF;
}
.nav-button .img-icon {
  width: 36px;
}
.nav-button .nav-dropdown {
  position: absolute;
  width: 100%;
  background-color: #fedca5;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nav-button .nav-dropdown .nav-products-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.nav-button .nav-dropdown .nav-products-container .product {
  color: black;
  font-size: 18px;
  font-family: "Lilita One", system-ui;
  margin: 5px 0;
}
.nav-button .nav-dropdown .nav-products-container .product:hover {
  color: green;
}
.nav-button .displayOn {
  display: block;
}
.nav-button .displayOff {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}/*# sourceMappingURL=App.css.map */