.banner {
  background: white;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 370px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 28px;
    font-family: "Lilita One", system-ui;
    img {
      width: 150px;
    }
  }
}

.products-container {
  margin: 20px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  column-gap: 20px;
  row-gap: 30px;
  height: 2
}
