.products-container2 {
  margin: 20px 0;
  padding: 0 100px;
  // display: grid;
  // grid-template-columns: auto auto auto auto auto;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  row-gap: 10px;
  // column-gap: 4px;
}

.product-content {
  width: 200px;
  color: black;
  border: 2px solid transparent;
  border-radius: 3px;
  // padding: 5px 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease;
  &:hover {
    // border: 2px solid black;
    transform: scale(1.04);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    .product-img {
      img {
        transform: scale(1.08);
      }
    }
  }
  .product-img {
    height: 100px;
    background: white;
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
    img {
      transition: all 0.5s ease;
    }
  }
  .product-infos {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 20px;
    .product-name {
      font-weight: 700;
      font-size: 18px;
    }
    .product-quantity {
      font-size: 16px;
    }
    .product-price {
      font-weight: 600;
      margin: 20px 0 0 0;
      font-size: 18px;
    }
    .product-category {
      font-size: 14px;
      margin: 10px 0;
    }
    .reviews {
      display: flex;
      align-items: center;
      color: green;
      span {
        color: black;
      }
    }
  }
  .product-info2 {
    font-weight: 600;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .button {
      padding: 8px 15px;
      border-radius: 2px;
      border: 1px solid black;
      background-color: white;
      margin: 20px 0;
      &:hover {
        background-color: black;
        color: white;
        cursor: pointer;
      }
    }
  }

  .low-quantity {
    color: red;
    font-weight: 600;
  }
}
