.products-container {
  margin: 20px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  column-gap: 20px;
  row-gap: 30px;
}

.product-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  color: black;
  border: 1px solid black;
  // border-radius: 5px;
  padding: 5px 10px;
  background-color: beige;
  .product-infos {
    display: flex;
    flex-direction: column;
    width: 350px;
  }

  .product-img {
    width: 100px;
    height: 100px;
    background: white;
  }
  .product-description {
    color: black;
  }
}
