.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: "Indie Flower", system-ui;
  width: 100%;
  .nav-button {
    background: green;
    width: 16.7%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    &:hover {
      background: white;
      color: green;
      cursor: pointer;
    }
  }
}
