.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // font-family: "Indie Flower", system-ui;
  font-family: "Lilita One", system-ui;
  width: 100%;
  background-color: whitesmoke;
}
