#userName {
  padding: 10px 20px;
}
.account-action {
  margin: 10px;

  .action {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px 0;
    border: 2px solid black;
    div {
      margin: 0 10px;
    }
  }
  .action-account {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid black;
    margin: 10px;
    padding: 5px;
    background: white;
    color: black;
  }
  .modify {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    background: white;
    color: black;
  }
}

.dropdown-container {
  width: 700px;

  .dropdown-section {
    display: flex;
    justify-content: space-between;
    width: 620px;
    border: 3px solid black;
    padding: 15px;
    margin: 0 auto;
    color: black;
    background: white;
    font-size: 24px;
    font-weight: 700;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: 1s background linear;
    .icon-dropdown {
      cursor: pointer;
    }
    &:hover {
      background: rgb(214, 212, 78);
    }
  }

  @keyframes dropdown-open {
    from {
      height: 0;
    }
    to {
      height: 320px;
    }
  }

  @keyframes dropdown-close {
    from {
      height: 320px;
    }
    to {
      height: 0;
    }
  }

  @keyframes disappear {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.dropdown-menu-close {
  animation: 0.2s linear dropdown-close;
  width: 600px;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0px 10px;
  margin: 0 auto;
  background: white;
  overflow: hidden; /* Important pour cacher l'élément quand il est fermé */
  height: 0; /* Commence par 0 lors de la fermeture */
}

.dropdown-menu {
  width: 600px;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 15px 10px;
  margin: 0 auto;
  background: white;
  overflow: hidden; /* Important pour cacher l'élément quand il est fermé */
  animation: 0.3s linear dropdown-open;
  height: 320px; /* Hauteur cible lors de l'ouverture */

  .orders-infos {
    display: flex;
    justify-content: space-around;
    color: black;
  
    .rows-container {
      padding: 5px;
      margin: 5px;
      width: 330px;
      .dropdown-row-container {
        display: flex;
        margin: 5px;
        .row-label {
          width: 220px;
          border: 1px solid black;
          margin-right: 10px;
          padding-left: 10px;
          font-weight: 600;
        }
        .row-output {
          width: 170px;
          border: 1px solid black;
          margin-right: 10px;
          padding-left: 10px;
          font-weight: 600;
        }
      }
    }
    .shipment-infos {
      margin: 5px;
      padding: 10px;
      .row-label {
        width: 170px;
        border: 1px solid black;
        margin-right: 10px;
        padding-left: 10px;
        font-weight: 600;
      }
      .row-output {
        width: 170px;
        border: 1px solid black;
        margin-right: 10px;
        padding-left: 10px;
        font-weight: 600;
      }
    }
  }
}

.scroller {
  overflow-y: scroll;
  scrollbar-color: green;
  scrollbar-width: thin;
}
